<div class="card">
  <div class="card-header">
    <a href="/voucher/create" class="btn btn-primary"><i class="nav-icon far fa-plus-square mr-2"></i>Add</a>
  </div>

  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped table-hover w-100">
      <thead>
        <tr>
          <th>No.</th>
          <th>Game</th>
          <th>Category</th>
          <th>Nominal</th>
          <th>Image</th>
          <th>Status</th>
          <th>Time Added</th>
          <th>Time Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(vouchers.length > 0){ %>
        <% vouchers.forEach((item, index)=> { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.name %></td>
          <td><%= item?.category?.name ?? '-' %></td>
          <td>
            <% item.nominals.forEach(nominal => { %>
            <span class="badge badge-info"><%= nominal.coinName %> - <%= nominal.coinQuantity %>
              <%=(nominal.price) %></span>
            <% }) %>
          </td>
          <td><img src="https://laminastore-admin.vercel.app/uploads/voucher/<%= item?.thumbnail ?? '-' %>" alt=""
              width="90" height="160"></td>
          <td>
            <span class="badge badge-<%= item.status === "active" ? "success" : "danger" %>"><%= item.status %></span>
          </td>
          <td>
            <%= item.createdAt.toLocaleString('en-GB', {dateStyle:'full', timeStyle:'medium'}) %>
          </td>
          <td>
            <%= item.updatedAt.toLocaleString('en-GB', {dateStyle:'full', timeStyle:'medium'}) %>
          </td>
          <td class="d-flex flex-wrap">
            <form method="POST" action="/voucher/status/<%= item._id %>?_method=PUT" class="d-inline-block m-1">
              <button type="submit" class="btn btn-sm btn-outline-warning"><i class="nav-icon fas fa-trash"></i>
                <%= item.status === "active" ? "Inactivate" : "Activate" %>
              </button>
            </form>
            <a href="/voucher/edit/<%= item._id %>" class="btn btn-sm btn-outline-info d-inline-block m-1"><i
                class="nav-icon fas fa-pencil-alt"></i> Edit</a>
            <form method="POST" action="/voucher/delete/<%= item._id %>?_method=DELETE" class="d-inline-block m-1">
              <button type="submit" class="btn btn-sm btn-outline-danger"><i class="nav-icon fas fa-trash"></i>
                Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="9" class="text-center">No data</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

</div>