<div class="card">
  <div class="card-header">
    <a href="/voucher/create" class="btn btn-primary"><i class="nav-icon far fa-plus-square mr-2"></i>Add</a>
  </div>

  <!-- <div class="card-body">
    <table id="example2" class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Time Added or Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(vouchers.length > 0){ %>
        <% vouchers.forEach((item, index)=> { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.name %></td>
          <td>
            <%= item.timestamp.toLocaleString('en-GB', {dateStyle:'full', timeStyle:'medium'}) %>
          </td>
          <td>
            <a href="/category/edit/<%= item._id %>" class="btn btn-outline-warning"><i
                class="nav-icon fas fa-pencil-alt"></i></a>
            <form method="POST" action="/category/delete/<%= item._id %>?_method=DELETE" class="d-inline-block">
              <button type="submit" class="btn btn-outline-danger"><i class="nav-icon fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="4" class="text-center">No data</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div> -->

</div>